
<div class="about">
  <h4 class="textCounter">01</h4>
  <h1>About me</h1>

  <div class="aboutContainer">

    <div>            
      <p>
        Lifetime learner and polyglot software craftsman with a great love for music and nature. 
      </p>
      <p>
        Thriving in environentments and cultures who value competences, empowerment, innovation and creativity. 
      </p>

      <div class="sign"></div>
    </div>
    
    <div style="align: center; text-align: center">
      <img class="aboutImg" src="assets/img/about-img.jpg" alt="">
    </div>
   

  </div>

</div>

