
<div class="experience">
    <h4 class="textCounter">04</h4>
    <h1>Experience</h1>

    <div class="aboutContainer">
      
      <div style="align: center; text-align: center">
        <img class="aboutImg" src="assets/img/experience1.jpg" alt="">
      </div>

      <div>            
        <p>
          Vulputate adipiscing id condimentum nec. Pellentesque eu id at magna nullam. Massa est aliquet nec orci, tempor elit nam tempor non eget, lacus nulla recusandae enim etiam at. Orci sit elementum phasellus, aliquam viverra urna, feugiat id laoreet pharetra, nulla nostra justo in, pharetra nec vel. Quam lectus viverra temporibus nulla id, et a quis convallis cumque, vitae diam mollis consectetuer, amet justo justo justo maecenas, posuere vestibulum justo auctor erat vestibulum. Praesent laoreet sed in quisque, interdum praesent est sapien sit egestas arcu, rutrum ultrices maecenas eget class. Velit praesent wisi ipsa vulputate suspendisse dignissim, mi sit tristique excepteur sapien.
        </p>  
      </div>
           
    </div>

  </div>

  
  


  {% include timeline.html %}