<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Thomas Ringling</title>
  <link rel="stylesheet" href="styles/styles.css"/>
  <link rel="icon" type="image/png" sizes="16x18" href="/assets/img/favicon.ce0531f.17ca0df.png">
  <link rel="icon" type="image/png" sizes="29x32" href="/assets/img/favicon.e584de9.17ca0df.png">
  <link rel="apple-touch-icon" type="image/png" sizes="29x32" href="/assets/img/favicon.e584de9.17ca0df.png">
</head>
<body>
  <div class="container">

    {% include header.html %}
   

    <section class="main">
      {{ content }}
    </section>
    
    {% include footer.html %}
  </div>

  <!-- {% include scripts.html %} -->
</body>

</html>