<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Thomas Ringling</title>
  <link rel="stylesheet" href="styles/styles.css"/>
</head>
<body>
  <div class="wrapper">
    
    <header>
      <nav class="nav">
        <a href="#" class="nav-link">Home</a>
        <a href="#" class="nav-link">About</a>
        <a href="#" class="nav-link">Experience</a>
        <a href="#" class="nav-link">Projects</a>
        <a href="#" class="nav-link">Contact</a>
      </nav>
    </header>

    <section class="main">
      {{ content }}
    </section>
    
    <footer>
      FOOTER
    </footer>

  </div>

  
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  




  <script>
    $(document).ready(function() {
      var height = $('.container').height();
      var scrollTop = $(window).scrollTop();

      if (scrollTop >= 30) {
        $('nav').removeClass('transparent-nav');
        $('nav').addClass('solid-nav');
      }
      else{
        $('.nav').removeClass('solid-nav');
        $('nav').addClass('transparent-nav');
      }
      
      $(window).scroll(function() {
          var height = $('.container').height();
          var scrollTop = $(window).scrollTop();
          if (scrollTop >= 30) {
            $('nav').removeClass('transparent-nav');
            $('nav').addClass('solid-nav');
          } else {
            $('.nav').removeClass('solid-nav');
            $('nav').addClass('transparent-nav');
          }
        });
      });
  </script>
</body>

</html>