---
---

@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i';
@import "timeline";


$headerHeight: 70px;
$blue: #425BB5;
$breakpoint: 1024px;
$lightGrey:#8e9eab;

// start content
* {
  box-sizing: border-box;
}

body
{
  font-family: 'Open Sans', sans-serif;
  background: #f0f0f0;
  margin: 0;
}

.container {
  display: grid;
  width: 100%;
  background: url(../assets/img/home-bg-3.jpg);
  background: url(../assets/img/home-bg-1.jpg);
  background-size: cover;
  height: 100vh;

  flex-direction: column;
  align-content: space-between;
}

header {
  grid-area: h;  
  background-color: lightblue;  
  position: fixed;
  width: 100%;
  height: $headerHeight;
  align-items: center;
  background-color: transparent;
  z-index: 100;  
}

nav {
  display: flex;
  justify-content: center;
  background-color: transparent;
  height: 100%;
}

@keyframes color_change {
	from { 
    background-color: transparent;
  }
	to { 
    background-color: $lightGrey;
  }
}
@keyframes invert_color_change {
	from { 
    background-color: $lightGrey;
  }
	to { 
    background-color: transparent;
  }
}

.solid-nav {
  animation-name: color_change;
  animation-duration: .5s;
  background-color: $lightGrey;
}

.transparent-nav {
  animation-name: invert_color_change;
  animation-duration: .5s;
  background-color: transparent;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: $headerHeight - ($headerHeight/2) - 10px;
  text-transform: uppercase;
  letter-spacing: 2px;

  font-size: 11px;
  font-weight: bold;
  text-decoration: none;

  color: black;
  color: #444;

}

footer {
  padding: 10px;

  height: 40px;
  align-items: center;
  width: 100%;
  color: white;
  background-image: linear-gradient(to right,#8e9eab, transparent);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: bold;  
  div {
    display: flex;
    justify-content: space-between;
    p {
      a {
        text-transform: uppercase;
        letter-spacing: 2px;
      
        font-weight: bold;
        text-decoration: none;
      
        color: black;
        color: #444;

      }
    }
  }

}

p, li {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.main {
  padding-top: $headerHeight;
  display: grid;
}

.home {
  background-color: transparent;
  p {
    color: black;
    letter-spacing: 2px;
    font-size: 16px;
    text-shadow: 1px 1px 2px white, 0 0 1em $lightGrey, 0 0 0.2em $lightGrey;
    text-align: right;
  }
}

.home h1 {
  text-shadow: 1px 1px 2px white, 0 0 1em $lightGrey, 0 0 0.2em $lightGrey;  
  text-align: right;
}
.about, .now {
  background-color: white;  
}

.experience {
  background-color: #f3f3f3;
}

@media only screen and (min-width: 350px) {
  .home, .about, .experience, .now {
    padding: 10px;
  }
}

@media only screen and (min-width: $breakpoint) {
  .home, .about, .experience, .now {
    padding: 130px;
    padding-top: 40px;
  }
}

.about h1, .experience h1, .home h1, .now h1 {  
  font-family: 'Playfair Display', serif;
  color: #333;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
}

@media only screen and (min-width: $breakpoint) {
  .home h1 {  
    font-size: 80px;
    line-height: 70px;
  }
}

@media only screen and (min-width: $breakpoint) {
  .aboutContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .aboutImg {
    width: 400px;    
  }

  .aboutContainer > div {
    width: 50%;
  }
}

.aboutImg {
  width: 350px;
  border: 10px solid $lightGrey;
}

.aboutContainer > div  > img {
  text-align: center;
}

h4 {
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
  position: relative; 
  color: $blue;
  font-weight: 700;
  font-size: 20px;
}

// Dash before h4
h4:before {
  position: absolute;
  width: 30px;
  left: -40px;
  content: "";
  display: block;
  height: 2px;
  background: $blue;
  top: 9px;
  z-index: 1;
}

.doingList {
  * {margin: 0; padding: 0;}

  div {
    margin: 20px;
  }

  ul {
    list-style-type: none;
    width: 100%;
  }


  ul:nth-child(1) {
    border-top: 1px solid $lightGrey
  }

  h3 {
    font: bold 20px/1.5 'Lato', sans-serif;
  }


  li img {
    float: right;
    margin: 0 15px 0 0;
  }

  li p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
  }

  li {
    padding: 10px;
    overflow: auto;
    border-bottom: 1px solid $lightGrey
  }


  li:hover {
    background: #eee;
    cursor: pointer;
  }
}