---
---

@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i';
@import "timeline";


$headerHeight: 70px;
$blue: #425BB5;
$breakpoint: 1024px;
$lightGrey:#8e9eab;

// start content
* {
  box-sizing: border-box;
}

body
{
  font-family: 'Open Sans', sans-serif;
  background: #f0f0f0;
  margin: 0;
}

.container {
  display: grid;
  width: 100%;
  background: url(../assets/img/home-bg-3.jpg);
  background-size: cover;
  height: 100vh;
}

header {
  grid-area: h;  
  background-color: lightblue;  
  position: fixed;
  width: 100%;
  height: $headerHeight;
  align-items: center;
  background-color: transparent;
  z-index: 100;  
}

nav {
  display: flex;
  justify-content: center;
  background-color: transparent;
  height: 100%;
}

// @keyframes color_change {
// 	from { 
//     background: linear-gradient(to right,transparent, transparent); 
//   }
// 	to { 
//     background: linear-gradient(to right,#8e9eab, transparent); 
//   }
// }
// @keyframes invert_color_change {
// 	from { 
//     background: linear-gradient(to right,#8e9eab, transparent); 
//   }
// 	to { 
//     background: linear-gradient(to right,transparent, transparent); 
//   }
// }

.solid-nav {
  // animation-name: color_change;
  // animation-duration: .5s;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(to right,#8e9eab, transparent);
}

.transparent-nav {
  // animation-name: invert_color_change;
  // animation-duration: .5s;
  border-bottom: 1px solid transparent;
  background: linear-gradient(to right,transparent, transparent);
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: $headerHeight - ($headerHeight/2) - 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #444;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}

footer {
  padding: 10px;
  background-color: $blue;  
  height: 40px;
  align-items: center;
  width: 100%;
  border-top: 1px solid #ccc;
  color: white;

  // background-image: linear-gradient(to right,$blue, #4286f4);
  // background-image: linear-gradient(to right,#4286f4, $blue);
  background-image: linear-gradient(to right,#8e9eab, #eef2f3);

  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
}



.main {
  padding-top: $headerHeight;
  display: grid;
}

.home {
  background-color: transparent;
}

.about {
  background-color: white;  
}

.experience {
  background-color: #f3f3f3;
}

@media only screen and (min-width: 350px) {
  .home, .about, .experience {
    padding: 10px;
  }
}

@media only screen and (min-width: $breakpoint) {
  .home, .about, .experience {
    padding: 130px;
  }
}

.home h1 {
  text-shadow: 2px 3px 0px #fff, 6px 6px 0px rgba(0,0,0,0.15);
}


.about h1, .experience h1, .home h1 {  
  font-family: 'Playfair Display', serif;
  color: #333;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
}

@media only screen and (min-width: $breakpoint) {
  .home h1 {  
    font-size: 80px;
    line-height: 70px;
  }
}


@media only screen and (min-width: $breakpoint) {

  .aboutContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .aboutImg {
    width: 400px;    
  }

  .aboutContainer > div {
    width: 50%;
  }
}

.aboutImg {
  width: 350px;
  border: 10px solid $lightGrey;

}

.aboutContainer > div  > img {
  text-align: center;
}

h4 {
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
  position: relative; 
  color: $blue;
  font-weight: 700;
  font-size: 18px;
}

// DASH before h4
h4:before {
  position: absolute;
  width: 30px;
  left: -40px;
  content: "";
  display: block;
  height: 2px;
  background: $blue;
  top: 9px;
  z-index: 1;
}

